SECRET_KEY=your_secret_key_here
DEBUG=False
ALLOWED_HOSTS=your_production_domain.com,127.0.0.1,localhost
DATABASE_URL=postgres://user:password@hostname:port/database_name
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
